html,
body {
  font-family: roboto, sans-serif; }

.cv-user img {
  max-width: 120px;
  border-radius: 50%; }

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding-left: 16px;
  padding-right: 16px; }

.cv-user {
  padding: 32px 0; }

.contact div span {
  color: #fff; }

html,
body {
  font-size: 14px; }

.contact {
  text-align: right; }

h1.name {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2em;
  font-size: 3em;
  letter-spacing: 6px; }

a {
  text-decoration: none;
  color: #2196f3; }

.contact span {
  font-size: 13px; }

.timestamp {
  /* border: 1px solid; */
  padding: 24px 0; }

.timestamp .fs-subhead {
  color: #888; }

.timestamp .time {
  /* border: 1px solid; */
  width: 100px;
  text-align: right; }

.timestamp .ico {
  /* border: 1px solid; */
  width: 50px;
  text-align: center; }

.block ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.block ul li {
  /* border: 1px solid; */
  padding: 4px 0; }

.block__info {
  border-left: 1px solid rgba(33, 150, 243, 0.5);
  padding-left: 20px; }

.block {
  /* border: 1px solid; */
  margin-top: 16px; }

.block .block__title {
  text-transform: uppercase;
  font-weight: 300;
  /* padding: 4px 0; */
  font-size: 1.25em;
  color: #2196f3;
  /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */ }

blockquote p {
  text-align: center; }

blockquote span {
  /* border-bottom: 1px solid; */
  color: #2196f3;
  text-transform: uppercase; }

.time span {
  background: #2196f3;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 16px; }

.timestamp {
  position: relative; }

.timestamp:before {
  position: absolute;
  display: block;
  top: 54px;
  width: 1px;
  left: 125px;
  background: rgba(33, 150, 243, 0.5);
  z-index: 1;
  content: "";
  bottom: 0; }

.widget__content .chip {
  margin-top: 8px; }

.widget__content .card {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.widget__title {
  text-transform: uppercase;
  padding: 4px 16px; }

.bgc-red-500.chip .chip__label {
  color: #fff; }

.project {
  /* border: 1px solid; */
  position: relative;
  overflow: auto;
  max-width: 294px;
  max-height: 294px;
  margin-left: auto;
  margin-right: auto; }

.proj__hack {
  margin-top: 100%; }

.proj__content {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: flex-end; }

.proj-info {
  width: 100%;
  background: linear-gradient(to top, black, transparent);
  color: #fff;
  padding: 64px 16px 16px; }

.proj-info > .proj-about {
  text-transform: uppercase;
  font-size: 1.4em; }

.proj-info span {
  font-size: .9em;
  margin-right: 8px;
  color: #888; }

.proj-info a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.proj__content {
  background-size: cover; }
  .proj__content.first {
    background-image: url(../images/blog.png); }
  .proj__content.second {
    background-image: url(../images/vaobong.png); }
  .proj__content.third {
    background-image: url(../images/ecommerce.png); }

.call-me {
  margin: 64px 0px; }

.call-me .mdi {
  position: relative; }

.call-me .mdi:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2196f3;
  z-index: -1;
  animation: waves 1.6s cubic-bezier(1, 0.24, 0.12, 0.89) infinite both;
  border-radius: 50%; }

@keyframes waves {
  50% {
    transform: scale(2);
    opacity: .3; } }
@media screen and (min-width: 640px) {
  .timestamp {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; } }
@media screen and (max-width: 639px) {
  .block__info {
    border: none;
    padding: 0; }

  .timestamp .ico {
    display: none; }

  .timestamp .time {
    text-align: left;
    margin-bottom: 8px; }

  .timestamp:before {
    display: none; }

  .credit {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
