html,
body {
    font-family: roboto, sans-serif;
}

.cv-user img {
    max-width: 120px;
    border-radius: 50%;
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-left: 16px;
    padding-right: 16px;
}

.cv-user {
    padding: 32px 0;
}

.contact div span {
    color: #fff;
}

html,
body {
    font-size: 14px;
}

.contact {
    text-align: right;
}

h1.name {
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2em;
    font-size: 3em;
    letter-spacing: 6px;
}

a {
    text-decoration: none;
    color: #2196f3;
}

.contact span {
    font-size: 13px;
}

.timestamp {
    /* border: 1px solid; */
    padding: 24px 0;
}

.timestamp .fs-subhead {
    color: #888;
}

.timestamp .time {
    /* border: 1px solid; */
    width: 100px;
    text-align: right;
}

.timestamp .ico {
    /* border: 1px solid; */
    width: 50px;
    text-align: center;
}

.block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block ul li {
    /* border: 1px solid; */
    padding: 4px 0;
}

.block__info {
    // border-left: 1px solid rgba(33, 150, 243, 0.5);
    // padding-left: 20px;
}

.block {
    /* border: 1px solid; */
    margin-top: 16px;
}

.block .block__title {
    text-transform: uppercase;
    font-weight: 600;
    /* padding: 4px 0; */
    // font-size: 1.25em;
    color: #2196f3;
    /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); */
}

blockquote p {
    text-align: center;
}

blockquote span {
    /* border-bottom: 1px solid; */
    color: #2196f3;
    text-transform: uppercase;
}

.time span {
    background: #2196f3;
    // padding: 4px 12px;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 16px;
}

.timestamp {
    position: relative;
}

.timestamp:before {
    position: absolute;
    display: block;
    top: 54px;
    width: 1px;
    left: 125px;
    background: rgba(33, 150, 243, 0.5);
    z-index: 1;
    content: "";
    bottom: 0;
}

.widget__content .chip {
    margin-top: 8px;
}

.widget__content .card {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.widget__title {
    text-transform: uppercase;
    padding: 4px 16px;
}

.bgc-red-500.chip {
    .chip__label {
        color: #fff;
    }
}

.project {
    /* border: 1px solid; */
    position: relative;
    overflow: auto;
    max-width: 294px;
    max-height: 294px;
    margin-left: auto;
    margin-right: auto;
}

.proj__hack {
    margin-top: 100%;
}

.proj__content {
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
}

.proj-info {
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    color: #fff;
    padding: 64px 16px 16px;
}

.proj-info>.proj-about {
    text-transform: uppercase;
    font-size: 1.4em;
}

.proj-info span {
    font-size: .9em;
    margin-right: 8px;
    color: #888;
}

.proj-info a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.proj__content {
    // background: url(images/blog.png);
    background-size: cover;
    &.first {
        background-image: url(https://lh3.googleusercontent.com/ciWa1ypHYkwCA4kfBj_NdD5g8MJanHyCo7Vj4AJsPY7ICJuKgI19iaYaVg1LNQzLfmkCTkG56ecWuCAXyosYFOosNId__CqfRf8WaEHJ54UBvcXU0povrfq3fPeOrnZ7I_Y_AvaCMNg6UujPm3SVsl_JDGkgGNz9vH52sJlt8Fkc9zsKh-jUTPOSLJPbNxtkQy7DnwAtK7i5ePFBkdcuB3Z-FfqDFDaJRt3HneChMEhNzekzD2TNcsb7ND_aQEYUQk43RfWKv4zPg8Lo-Dfyg1GEtl_LTO3Ijm5o-VUCkn3EhDuCqIILVzHsJCaGzw8yfbyWZkgm2YkVCIY6SxczuGNFpt3b0zrbcKB1srVn4upo9-KUHe-biQYlDa_X3C5AWHpbummh7pCPpmyR9rzOeW1aZcp6d88GARkiLNXLAUA_SoAf-bsvIjfXGIh7a6wzzOzEZ77nkmBM2TzGjnh4I_TR5VG-KWe9DIufQjb2CKAg3n-aCf9RoahXolUlUU3q6TvH8EwZD_dUNn2NnVg6f8HnhK5l9UC6kx5LtzZjND52m-T2BGL-7LSaZIYmZEeuMBtCBhZ0jF8_5dBX7c9IFVb3t6rHOntBR0afqaEbkZy4XTeNeQf_=w1064-h850-no);
    }
    &.second {
        background-image: url(https://lh3.googleusercontent.com/0Mn_RllcCSxhgGiea2O1iuwEPDvcxVVeMb-gKgAXSBduAWUuo5IW9e7whKlPL9mVkvzGLoA1MHClq8y6APhoQDKU1gp9usgIfbIlfafE1oXrFotiCirBxN_pNFwM-Dp_EwKuwIbnQTqAumitSGicmKzhVUvOkeP2soTiEG42WA0HELd1eAfKJ_ER_-uTkd34WLyqcNUgu26IJY_a3LsbsfpEaUzYNgPd5tapAoq7iRpclGTet47uIS5d2wEFoRN7ZNx6JB8_rMpUvQuA8uZls5x_ztePfyH_AqgBm3fA24TDaG28vLfK36cHfdIMB-KtdEsBQ-frkqxtZ-qKfeovzW22vTjlEDhBqMEyZDf5m-fCn4jtHLbhRFoi6rSbtDA3CEoy9ZYpG4-5Vk-GaLzyVQi4fp_SNtiIodZGvTFsbVvgPrY0fmVy2OD9PbV7jsU2PkLfyeU39uhG8x91KyH9It1hYdkIQEL4GXdQic65bEpRElX4A6aC1-7OzVYRTssjYqvtFyZQaUi30qPxHs_18Q98_FfZvfCafEEi_PfJCbBEm4tVxiJkwkHlGJjf3V6EZHD9R0A4tyxC4OIS65gzyGrkmjFVWLsxmtSqhsEl1hjQopl9qg8P=w1064-h850-no);
    }
    &.third {
        background-image: url(https://lh3.googleusercontent.com/XGmhI-b-wGJoSy0jvi4RskZWcLgenk9mTwXFyPoy9at6Sif7uw-tcK2GaoAHEd6MQSLLVS0oWSkhVN-WZaIDuEAWFogd03LNDkDT-KW4GQVZtGveDjC0C9Huyg0XyueBlpAA4p04YRgPcU-hsVBWwwRAAERf9TqeE3Jhtk8Xoo1Cu9c_REeRYeKS1MfgxBZbXDc2OLsFwjr9K7VA_GpPEZfxcrPtXrDCPFeVObXN476727FDK53E0jqqXvmdvUGIFX7oN0_nSbWtzUACjppzZ0bcAhYS1xClKjyBLW1u_yRexpqHW8gVPHHAMB1awYfG7eRKSxVJwN5RsJfl8qEHhu-cWYkgW6DOXbuaXD17VXYSTffMdq-xWQOWu9VKKwKEtzRO7Ko-C6Nrn3w9J986cKtMT1bFip7EpeqkqObBbu176v7FiLyT1tw180zLDomDHXGqUCBaH3hwvueALw-a3dpiXR1aBTHLw2zqPFbYy_8Oi7-PmrhFkf9IKborPkdyp5HF1JwV3zyQ33_pQhDAi4pSxnyGJva3TT2IyJ8JZYaM4Scxov-zoJfkoUKIjeR3oMUXtBZmbmWnlR-Nf_WKcnw0tNrOw49zkdYl8owLCD3VHUq9Acv9=w1064-h850-no);
    }
    &.fourth {
        background-image: url(https://lh3.googleusercontent.com/QWh6T7if5wK1OrFOU9MDgFFFnkdlsyO9uTILa__yha40rT1-TgcptECkJW4Stlga6BGxbwyLwQfZBnAfeIXOzgvUELXcCPrSm-x-jRFuj3G_nV1gwv5CTwCZAHB5xpjWjlZVWFk3XGFRsKWsApn5CrMgZ-3UndYZ-TbzBUhqC_s3HrSBVe3e4D-myiVTTUO_f42KdQ9kPWzbJPNfNXvsMhTyUpiVc_w-TSTRujnd-Yy4FnpDo22MOgOGlKcc-43wOG-ioZDZfCJuQX8ebvNpru74rG3i28PvmE0ewpb8NmmBARp47CR_IXubJk3H2hK0cvn4rTrax4QpVlhpMz76msDR-msR8kgYdkftQewMQOLFlNVbW6lRx59xkq87xM5mB2QZTCGmc9ldOAMqqAIx1WJJdAIQ5g1gDtTU1CIbDm9ziHHX7EvQNYtr56G8dRslbtLkT54vONgh7Lw7eA1YFWddw_eOyINJihPr9eqJ5wIdauOqqKwbrVNhTnBFOm63wyxns0zPxCn7lYEJ3Cwj72lDT8nbLfmsq8eoBSS1Yj4UokIXKaGSUyh8pu0brWyhL60hYXis9Ttg1c-b9XBny40zx0TGN1xoTiDG3LNpOgAPj5Elg4zt1bCI=w1370-h812-no);
    }
}

.call-me {   
    margin: 64px 0px;
}

.call-me .mdi {
    position: relative;
}

.call-me .mdi:after {
    position: absolute;
    content: "";
    display: block;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2196f3;
    z-index: -1;
    animation: waves 1.6s cubic-bezier(1, 0.24, 0.12, 0.89) infinite both;
    border-radius: 50%;
}

@keyframes waves {
    0% {
        
    }
    50% {
        transform: scale(2);
        opacity: .3;
    }
}

@media screen and (min-width: 640px) {
    .timestamp {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 639px) {
    .block__info {
        border: none;
        padding: 0;
    }
    .timestamp .ico {
        display: none;
    }
    .timestamp .time {
        text-align: left;
        margin-bottom: 8px;
    }
    .timestamp:before {
        display: none;
    }
    .credit {
        text-align: center;
    }
}